<mat-dialog-content>
  <app-detail-cart-sidebar
    *ngFor="let item of dialogData"
    [item]="item"
    (emitDelete)="refreshStatus()"
  ></app-detail-cart-sidebar>
</mat-dialog-content>

<div mat-dialog-actions  style="display: flex; flex-direction: column;">
  <p>TOTAL: ${{ cartTotalSum }}</p>

  <div>
    <button mat-raised-button (click)="closeDialog()">Cerrar</button>
    <button
      mat-raised-button
      color="outline"
      [routerLink]="['/checkout']"
      [disabled]="!dialogData.length"
      (click)="closeDialog()"
    >
      COMPRA AHORA
    </button>
  </div>
</div>
